# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>Matplotlib</li>
<li>Scikit-learn</li>
<li>TensorFlow</li>
</ol>

# Data Science Tools

<table>
    <tr>
    <td>Jupyter Notebook</td>
    </tr>
    <tr>
    <td>VS Code</td>
    </tr>
     <tr>
    <td>RStudio</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
#This a simple arithmetic expression to mutiply then add integers

In [12]:
result = (3*4)+5

In [13]:
result

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60.

In [14]:
hours = 200/60

In [15]:
hours

3.3333333333333335

<b>Objectives:</b>

<ul>
    <li>Overview of Data Science Tools and Ecosystem</li>
     <li>Conversion of Units in Python</li>
     <li>Evaluate Arithmetic Expressions in Python</li>
   
</ul>

## Author

John Carlo del Rosario